
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/category.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
</head>
<body>
    <%- include('header'); -%>
    <div class="main-container">
        <%- include('nav'); -%>
        <div id="overlay"><span class="loader"></span></div>
        <div class="main">

            <div class="add-link">
                
                <div class="searchbar">
                    <input type="text" name="search" id="search" placeholder="Search" onkeyup="search(this.value)">
                    <div class="searchbtn">
                        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210180758/Untitled-design-(28).png" class="icn srchicn" alt="search-button">
                    </div>
                </div>
                <a class="add" onclick="addCategory()">ADD</a>
            </div>
            <table id="myTable">
                <tr>
                    <th>ID</th>
                    <th>Category Name</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <% data.forEach(c => { %>
                    <tr>
                        <td><%= c.category_id %></td>
                        <td><%= c.category_name %></td>
                        <td><%= (new Date(c.created_date).toLocaleDateString()) %></td>
                        <td><a class="btnn" id="status" onclick="check(`<%= c.category_id %>`,`<%= c.category_status %>`);"><%= c.category_status %></a></td>
                        <td><a class="edit-btn fas fa-edit" onclick="editCategory(`<%= c.category_id %>`)"> EDIT</a></td>
                    </tr>
                <% }); %>
                <tr id="no-data"></tr>
            </table>
            <div class="dialogue">
                <form action="/editcategory" method="post">
                    <p>Category Name</p>
                    <input class="text" id="id" type="hidden" name="category_id" value="">
                    <input class="text" id="text" type="text" name="category_name" value="" required><br>
                    <input type="submit" class="yes input" value="Update">
                    <botton class="no input">Cancel</botton>
                </form>
            </div>
            <div class="dialogues">
                <form action="/addcategory" method="post">
                    <p>Enter Category Name</p>
                    <input class="text" id="text" type="text" name="category_name" required><br>
                    <input type="submit" class="yes input" value="Add">
                    <botton class="no input">Cancel</botton>
                </form>
            </div>
            <div class="page">
                <nav aria-label="Page navigation example">
                    <ul class="pagination" id="pagination"> 
                        <% let totalpages = Math.ceil((total)/(limit)); %>
                        <% let iterator = (page - 5) < 1 ? 1 : page - 5; %>
                        <% let endingLink =(iterator + 9) <= totalpages ? (iterator + 9) : page +(totalpages - page); %>
                        <% if (endingLink < (page + 4)) { %>
                            <% iterator -= (page + 4) - totalpages; %>
                        <% } %>
                        <li class="page-item"><a class="page-link" id="0" onclick='page(this)'>First</a></li>
                        <% for(let i = iterator; i <= endingLink; i++) { %>
                            <% if(i=== page) { %>
                                <li class="page-item"><a class="page-link" id='<%= i %>' onclick='page(this)'><%= i %></a></li>
                                <% continue; %>
                            <% } %>
                            <li class="page-item"><a class="page-link" id='<%= i %>' onclick='page(this)'><%= i %></a></li>
                        <% } %>
                        <li class="page-item"><a class="page-link" onclick='page(this)' id="<% Math.ceil(data.total/data.limit) %>">Last</a></li>
                    </ul>
                </nav>
            </div>
        </div>
</body>
<script src="/js/dashboard.js"></script>
<script src="/js/category.js"></script>
</html>