<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
</head>
<script src="/js/dashboard.js"></script>
<body>
    <%- include('header'); -%>
    <div class="main-container">
        <%- include('nav'); -%>
        <div class="main">
            <h1>Category</h1>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Category Name</th>
                    <th>Status</th>
                    <th>Created Date</th>
                </tr>
                <% let id=1; %>
                <% data.forEach(c => { %>
                    <tr>
                        <td><%= id++ %></td>
                        <td><%= c.category_name %></td>
                        <td><a href="" class="">Enable</a></td>
                        <td><%= c.created_date %></td>
                    </tr>
                    <% }); %>
            </table>
        </div>
    </div>
</body>

</html>