<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <title>Category</title>
    <link rel="stylesheet" href="/css/result.css">

</head>
<body>
    <%- include('header'); -%>
    <div class="main-container">
        <%- include('nav'); -%>
            <div class="main">
                <h1>exam name</h1>
    <table class="table table-hover">
        <caption>Exam Name</caption>
        <thead>
            <tr>
                <td>No</td>
                <td>exam name</td>
                <td> Detail</td>
            </tr>
        </thead>
       <tbody id="tbody">
        <%for(var i=0;i<data.length;i++){%>
            <tr>
            <td><%=i+1%></td>
            <td><%=data[i].exam_name%></td>
            <td><a href="/getexamdetaile?id=<%= data[i].exam_id %>" id="<%= data[i].exam_id %>">View</a></td>
            </tr>
        <%}%>
       </tbody>
      
    </table>

    <div id="page">
        <p onclick="page(`1`,`<%=count%>`,`<%=id%>`)">prev</p>
        <%for(i=1 ;i<=count ;i++){%>
            <%if(i==1){%>
            <p onclick="page(`<%=i%>`,`<%=count%>`,`<%=id%>`)">
                <b><%=i%></b>
            </p>
            <%}else{%>
                <p onclick="page(`<%=i%>`,`<%=count%>`,`<%=id%>`)">
                    <%=i%>
                </p>
            <%}%>
        <% } %>
        <p onclick="page(`<%=count%>`,`<%=count%>`,`<%=id%>`)">next</p>
    </div>
</div>
</div>
</body>
 <script src="/js/companylist.js"></script>
 <script src="/js/dashboard.js"></script>
</html>