<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Online Exam System</title>
    <!-- <link rel="stylesheet" type="text/css" href="/css/dashboard.css"/> -->
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    
</head>




<body>

    <!-- for header part -->
    <%- include('header'); -%>

  

    <div class="main-container">
        <%- include('nav'); -%>
        
        <div class="main">

            
           
            <div class="box-container">
                <div class="box box1">
                    <a href="/category">
                    <div class="text">
                        <h2 class="topic-heading">Category</h2>
                        <h2 class="topic">Total Category   <p class="count"><%=count4[0].c%></p></h2> 
                    </div>
                </a>
                </div>
                <div class="box box2">
                    <a href="/user">
                    <div class="text">
                        <h2 class="topic-heading">User</h2>
                        <h2 class="topic">Total User  <p class="count"><%=count1[0].c%></p></h2>
                    </div>
                </a>
                </div>

                <div class="box box3">
                    <a href="examlist" class="text">
                    <div class="text">
                        <h2 class="topic-heading">Exam</h2>
                        <h2 class="topic">Total Exam  <p class="count"><%=count2[0].c%></p></h2>
                    </div>
                    </a>
                </div>

                <div class="box box4">
        
                        <a href="result" class="text"></a>
                        <div class="text">
                        <h2 class="topic-heading">Result</h2>
                        <h2 class="topic">Result History</h2>
                    </div>
                </div>

                <div class="box box5">
                    <a href="/question" class="text">
                    <div class="text">
                        <h2 class="topic-heading">Questions</h2>
                        <h2 class="topic">Total Questions <p class="count"> <%=count3[0].c%></p> </h2>
                    </div>
                </a>
                </div>
                
            </div>

        </div>
    </div>

</body>
<script src="/js/dashboard.js"></script>
</html>