<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link rel="stylesheet" href="/css/edit.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">



<body>


  <!-- for header part -->
  <%- include('header'); -%>

    <div class="main-container">
      <%- include('nav'); -%>


        <form action="/update" method="post">

          <div class="inputtag">
            <label for="name">id:</label>
            <input type="hidden" id="student_id" name="student_id" value=<%=student3[0].student_id%>><br><br>
          </div>
          <div class="inputtag">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value=" <%=student3[0].name%>"><br><br>
          </div>
          <div class="inputtag">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value=" <%=student3[0].email%>"><br><br>
          </div>

          <div class="inputtag">
            <label for="contact">Contact:</label>
            <input type="text" id="contact" name="contact" value=" <%=student3[0].contact%>"><br><br>
          </div>

          <div class="inputtag">

            <% if(student3[0].gender=='male' ){%>
              <label for="gender">Gender:</label>
              <input type="radio" id="male" name="gender" value="male" checked />
              <label for="male">Male</label>
              <input type="radio" id="female" name="gender" value="female" />
              <label for="female">Female</label>

              <%}%>
                <% if(student3[0].gender=='female' ){%>
                  <label for="gender">Gender:</label>
                  <input type="radio" id="male" name="gender" value="male" />
                  <label for="male">Male</label>
                  <input type="radio" id="female" name="gender" value="female" checked />
                  <%}%><br>

          </div>

          <!-- <input type="text" id="gender" name="gender" value=" <%=student3[0].gender%>"><br><br> -->
          <div class="inputtag">

            <label for="address">Address:</label>
            <input type="text" id="address" name="address" value=" <%=student3[0].address%>"><br><br>
          </div>

          <div class="inputtag">
            <label for="city">City:</label>
            <input type="text" id="city" name="city" value=" <%=student3[0].city%>"><br><br>
          </div>

          <div class="inputtag">
            <label for="city">state_id:</label>
            <input type="text" id="state_id" name="state_id" value=" <%=student3[0].state_id%>"><br><br>
          </div>

          <div class="inputtag">
            <label for="college_id">student_status:</label>
            <input type="text" id="student_status" name="student_status"
              value=" <%=student3[0].student_status%>"><br><br>
          </div>

          <div class="inputtag">

            <label for="college">college </label>

            <select name="college_id" id="college_id">
              <option value="gec patan">gec patan</option>
              <option value="gec modasa"> gec modasa</option>

            </select><bR>
          </div>


          <div class="inputtag">
            <input type="submit" value="Submit">
          </div>




        </form>


</body>

</html>