<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exam</title>
    <link rel="stylesheet" href="/css/exam.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">

</head>
<!-- <script src="/js/exam.js"></script> -->

<body>
    <%- include('header'); -%>
        <div class="main-container">
            <%- include('nav'); -%>
                <div class="main">

                    <div class="header">
                        <h1>Online Student Examination System Project</h1>
                    </div>


                    <div class="header2">
                        <h2>exam management</h2>

                    </div>



                    <!-- <div class="exam_main">
                        <div class="combine">
                            <div class="one">
                                <label for="">ADD EXAM</label>
                            </div>
                            <form action="/exam" method="post">
                                <div class="two">
                                    <div class="input_taker">
                                        <label for="exam_name" class="labelofInput"> exam name: </label>
                                        <input type="text" name="exam_name" id="" placeholder="enter exam name"
                                            class="input_tag" required>

                                    </div>
                                    <div class="input_taker">
                                        <label for="" class="labelofInput"> category :</label>
                                        <select name="category" id="category_select" selected checked read-only> -->
                    <!-- <option value="">APPTITUDE</option>
                                    <option value="">VERBAL</option>
                                    <option value="">LOGICAL</option>
                                    <option value="">OOPS</option>s
                                    <option value="">DSA</option>-->
                    <!-- </select>


                                    </div>

                                    <div class="input_taker">
                                        <label for="question" class="labelofInput">no of questions: </label>
                                        <input type="text" name="question" id="" placeholder="enter no of questions"
                                            class="input_tag" required>

                                    </div>
                                    <div class="input_taker">
                                        <label for="time" class="labelofInput"> time limit: </label>

                                        <input type="text" name="time" id="" placeholder="enter time limit"
                                            class="input_tag" required>
                                        <label for="" class="extra_label">(adding time limit in minutes)</label>

                                    </div> -->

                    <!-- <div class="input_taker">
                                <label for="passing_mark" class="labelofInput"> passing marks: </label>
                                <input type="text" name="passing_mark" id="" placeholder="enter passing marks" class="input_tag"
                                    required>
        
                            </div> -->
                    <!-- <div class="input_taker">
                                        <label for="start_date" class="labelofInput"> start date: </label>
                                        <input type="date" name="start_date" id="" placeholder="enter start date"
                                            class="input_tag" required>

                                    </div> -->
                    <!-- <div class="input_taker">
                                <label for="exam_date" class="labelofInput"> end date: </label>
                                <input type="date" name="end_date" id="" placeholder="enter end date" class="input_tag"
                                    required>
        
                            </div> -->

                    <!-- </div>
                                <div class="save_div">

                                    <input type="submit" id="save_btn" value="SAVE">


                                </div>
                            </form>


                        </div> -->

                    <div id="change">


                        <div id="heading">
                            <div class="heading1">
                                <label for="">Exam List</label>

                            </div>
                            <div class="heading2">
                                <input type="text" name="search" id="search" placeholder="serch" oninput="examSearch()"
                                    oninput="togglecolorchnage()">
                                <a href="#" id="exam_search">Search</a>
                                <a href="/exam"><i class="fa-solid fa-circle-plus" id="i"></i></a>
                            </div>
                        </div>
                        <div class="exam_listing">
                            <table>
                                <tbody id="tbody">
                                    <tr>
                                        <th>Sr .No</th>
                                        <th>exam_name</th>
                                        <th>category</th>
                                        <th>total_questions</th>
                                        <th>time_limit</th>
                                        <th>start date</th>
                                        <th>exam statuss</th>
                                        <th>edit</th>
                                        <!-- <th>delete</th> -->

                                    </tr>
                                    <% for(let i=0;i<data1.length;i++){ %>
                                        <input type="text" value="<%=data1[i].exam_id%>" hidden>
                                        <tr>
                                            <td>
                                                <div class="td">
                                                    <%=(i+1)%>

                                                </div>
                                            </td>
                                            <td>
                                                <div class="td">
                                                    <%=data1[i].exam_name%>

                                                </div>

                                            </td>
                                            <td>
                                                <div class="td">

                                                    <%=data1[i].category%>

                                                </div>

                                            </td>
                                            <td>
                                                <div class="td">
                                                    <%=data1[i].total_questions%>

                                                </div>

                                            </td>
                                            <td>
                                                <div class="td">
                                                    <%=data1[i].exam_time%>

                                                </div>

                                            </td>
                                            <td>
                                                <div class="td">
                                                    <%=data1[i].exam_date%>

                                                </div>

                                            </td>
                                            <td>


                                                <div id="toggle<%=data1[i].exam_id%>">

                                                    <p class="btn" id="<%=data1[i].exam_id%>"
                                                        onclick="toggle(`<%=data1[i].exam_status%>`,`<%=data1[i].exam_id%>`)">
                                                        <%=data1[i].exam_status%>
                                                    </p>
                                                </div>
                                            </td>
                                            <td>


                                                <div class="edit">

                                                    <p onclick="editexam(`<%=data1[i].exam_id%>`)">edit</p>
                                                </div>
                                            </td>
                                            <!-- <td>
                                        <a href="/delete?exam_id=<%=data1[i].exam_id%>">delete</a>
                                    </td> -->
                                        </tr>
                                        <% }%>
                                </tbody>
                            </table>
                            <% if(curpage==1){ %>
                                <a href="#">prev</a>
                                <%}else{%>
                                    <a href="/examlist?num=<%=curpage-1%>">prev</a>
                                    <% } %>

                                        <% for(let i=1;i<=count ;i++){ %>
                                            <% if(curpage==i){ %>
                                                <a href="#"><b>
                                                        <%=i%>
                                                    </b></a>
                                                <%}else{%>
                                                    <a href="/examlist?num=<%=i%>">
                                                        <%=i%>
                                                    </a>
                                                    <%}%>
                                                        <%}%>


                                                            <%if(curpage==count){ %>
                                                                <a href="#">next</a>
                                                                <%}else{%>
                                                                    <a href="/examlist?num=<%=curpage+1%>">next</a>
                                                                    <%}%>
                        </div>

                    </div>
                </div>
        </div>

        </div>



</body>
<script>

    let category_select = document.getElementById('category_select');

    //categoty fetch on ajax 
    categortFetch();
    function categortFetch() {
        fetch('/categories').then(res => res.json()).then(data => {
            // console.log("data", data)
            // console.log(data.arr.length);
            // console.log(data.arr2.length);

            for (let i = 0; i < data.arr.length; i++) {
                // console.log(data.arr[i])
                // console.log(data.arr2[i])
                category_select.innerHTML += ` <option value="${data.arr2[i]}">${data.arr[i]}</option>`;

            }

        }).catch(err => console.log(err));
    }
    // ..exam search 
    function examSearch() {
        console.log("examsearch")
        let search = document.getElementById('search').value;
        let exam_search = document.getElementById('exam_search');
        console.log(search);
        console.log(exam_search);
        fetch(`/examlist?exam_name=${search}`)
            .then(res => res.json())
            .then(data => {
                console.log(data);
                if (data.length == 0) {
                    tbody.innerHTML = "there is no found data";
                }
                let tbody = document.getElementById('tbody');
                tbody.innerHTML = "";
                let str = "";
                str += ` <tr>
                                <th>Sr .No</th>
                                <th>exam_name</th>
                                <th>category</th>
                                <th>total_questions</th>
                                <th>time_limit</th>
                                <th>start date</th>
                                <th>exam statuss</th>
                                <th>edit</th>
                                <!-- <th>delete</th> -->

                            </tr>`;
                for (i = 0; i < data.length; i++) {
                    str += `<tr>
                                    <td>
                                        <div class="td">
                                            ${(i + 1)}

                                        </div>
                                    </td>
                                    <td>
                                        <div class="td">
                                            ${data[i].exam_name}

                                        </div>

                                    </td>
                                    <td>
                                        <div class="td">

                                            ${data[i].category}

                                        </div>

                                    </td>
                                    <td>
                                        <div class="td">
                                            ${data[i].total_questions}
                                           

                                        </div>

                                    </td>
                                    <td>
                                        <div class="td">
                                            ${data[i].exam_time}
                                           

                                        </div>

                                    </td>
                                    <td>
                                        <div class="td">
                                            ${data[i].exam_date}
                                       

                                        </div>

                                    </td>
                                    <td>


                                        <div id="toggle${data[i].exam_id}">
                                            <p class="btn" id="${data[i].exam_id}" onclick="toggle('${data[i].exam_status}','${data[i].exam_id}')" style="color: red;cursor:pointer">${data[i].exam_status}</p>
                                        
                                        </div>
                                    </td>
                                    <td>


                                        <div class="edit">
                                            <a href="/edit?exam_id=${data[i].exam_id}">edit</a>

                                        </div>
                                    </td>
                                   
                                </tr>
                               `;
                }

                tbody.innerHTML = str;
                console.log(data)
            })
            .catch(err => console, log(err));

    }


    togglecolorchnage();
    function togglecolorchnage() {
        let btn = document.querySelectorAll('.btn');
        btn.forEach(e => {

            console.log(e);
            if (e.innerHTML == '0') {

                e.innerHTML = 'DISABLE';
                e.style.color = 'red';
                e.style.cursor = 'pointer';
            }
            else if (e.innerHTML == '1') {

                e.innerHTML = 'ENABLE';
                e.style.color = 'blue';
                e.style.cursor = 'pointer';
            }
        })
    }

    function toggle(status, id) {
        let togglediv = document.getElementById(`toggle${id}`);
        let toggle_id = document.getElementById(`${id}`);

        fetch(`/exam/status?status=${status}&id=${id}`).then(res => res.json()).then(data => {
            if (data.info = 'rows matched: 1 changed: 1 Warnings: 0') {
                if (status == '1') {
                    togglediv.innerHTML = ` <p class="btn" id="${id}" onclick="toggle('0','${id}')" style="color: red;cursor:pointer">DISABLE</p>`;
                } else if (status = '0') {
                    togglediv.innerHTML = ` <p class="btn" id="${id}" onclick="toggle('1','${id}')" style="color: blue;cursor:pointer">ENABLE</p>`;
                }
            }
        }).catch(err => console.log(err));
    }

    function editexam(id) {
        fetch(`/edit?exam_id=${id}`).then(res => res.json()).then(data => {
            console.log(data)
        }).catch(err => console.log(err));
    }


</script>

</html>