<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="/css/exam.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
</head>

<body>
    <%- include('header'); -%>
        <div class="main-container">
            <%- include('nav'); -%>
                <div class="main">
                    <div class="header">
                        <h1>Online Student Examination System Project</h1>
                    </div>


                    <div class="header2">
                        <h2>exam management</h2>

                    </div>


                    <div id="change">
                        <div class="exam_main">
                            <div class="combine">
                                <div class="one">
                                    <label for="">ADD EXAM</label>
                                </div>
                                <form action="/edit" method="post">
                                    <input type="text" name="exam_id" value="<%=data1[0].exam_id%>" id="exam_id" hidden>

                                    <div class="two">
                                        <div class="input_taker">

                                            <label for="exam_name" class="labelofInput"> exam name: </label>
                                            <input type="text" name="exam_name" value="<%=data1[0].exam_name%>"
                                                placeholder="enter exam name" class="input_tag" required>

                                        </div>

                                        <!-- selected category is show  -->
                                        <div class="input_taker">
                                            <label for="" class="labelofInput"> category :</label>
                                            <select name="category" id="category_select" multiple required>

                                            </select>


                                        </div>

                                        <div class="input_taker">
                                            <label for="question" class="labelofInput">no of questions: </label>
                                            <input type="text" name="question" id="" placeholder="enter no of questions"
                                                value="<%=data1[0].total_questions%>" class="input_tag" required>

                                        </div>
                                        <div class="input_taker">
                                            <label for="time" class="labelofInput"> time limit: </label>

                                            <input type="text" name="time" id="" placeholder="enter time limit"
                                                value="<%=data1[0].exam_time%>" class="input_tag" required>
                                            <label for="" class="extra_label">(adding time limit in minutes)</label>

                                        </div>


                                        <div class="input_taker">
                                            <label for="start_date" class="labelofInput"> start date: </label>
                                            <input type="date" name="start_date" id="" placeholder="enter start date"
                                                value="<%= data1[0].exam_date%>" class="input_tag" required>

                                        </div>


                                    </div>
                                    <div class="save_div">

                                        <input type="submit" id="save_btn" value="UPDATE">


                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>
        </div>

        </div>

</body>

<script src="/js/examedit.js"></script>

</html>