<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="/css/question.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
</head>
<!-- <script src="/js/dashboard.js"></script> -->
<body>
    <%- include('header'); -%>
    <div class="main-container">
        <%- include('nav'); -%>
        <div class="main">
          
                <div class="header">
                    <h1>Online Student Examination System Project</h1>
                </div>
          
        
            <div class="header2">
                <h2>question management</h2>
        
            </div>
            <div class="que_main">
                <div class="combine">
                    <div class="one">
                        <label for="">ADD EXAM</label>
                    </div>
                    <form action="/question" method="post">
                        <div class="two">
                            <div class="input_taker">
                                <label for="question" class="labelofInput"> question text: </label>
                                <input type="text" name="question" id="" placeholder="enter question text" class="input_tag"
                                    required>
        
                            </div>
                            <div class="input_taker">
                                <label for="" class="labelofInput"> category :</label>
                                <select name="category" id="category_select" selected checked read-only >
                                    <!-- <option value="">APPTITUDE</option>
                                    <option value="">VERBAL</option>
                                    <option value="">LOGICAL</option>
                                    <option value="">OOPS</option>s
                                    <option value="">DSA</option> -->
                                </select>
        
        
                            </div>
                        </div>
                        <div class="one">
                            <label for="">ADD ANSWERS</label>
                        </div>
        
                        <div class="input_taker">
                            <input type="radio" name="option" id="" value="a">
        
                            <label for="a" class="labelofInput"> option a: </label>
                            <input type="text" name="a" id="" placeholder="enter first option" class="input_tag"
                                required>
                            <!-- <input type="radio" name="option" id=""> -->
        
        
                        </div>
        
                        <div class="input_taker">
                            <input type="radio" name="option" id="" value="b">
        
        
                            <label for="b" class="labelofInput"> option b: </label>
                            <input type="text" name="b" id="" placeholder="enter second option" class="input_tag"
                                required>
                            <!-- <input type="radio" name="option" id=""> -->
        
        
        
                        </div>
                        <div class="input_taker">
                            <input type="radio" name="option" id="" value="c">
        
        
                            <label for="c" class="labelofInput"> option c: </label>
                         
        
                            <input type="text" name="c" id="" placeholder="enter third option" class="input_tag"
                                required>
        
                                <!-- <input type="radio" name="option" id=""> -->
        
        
                        </div>
                        <div class="input_taker">
                            <input type="radio" name="option" id="" value="d">
        
                            <label for="d" class="labelofInput"> option d: </label>
                       
        
                            <input type="text" name="d" id="" placeholder="enter fourth option" class="input_tag"
                                required>
        
        
                                <!-- <input type="radio" name="option" id=""> -->
        
                        </div>
        
                        <!-- <div class="input_taker">
                            <label for="options" class="labelofInput"> choose right answer:</label>
        
                            <select name="options" id="">
                                <option value="a">option a</option>
                                <option value="b">option b</option>
                                <option value="c">option c</option>
                                <option value="d">option d</option>
                            </select>
        
                        </div> -->
        
                        <div class="save_div">
                            <input type="submit" id="save_btn" value="SAVE">
                        </div>
        
                    </form>
        
                </div>
                <div class="question_listing">
                    <table>
                        <caption>Questions</caption>
                        <tr>
                            <td>Sr No.</td>
                            <td>question</td>
                            <td>option a</td>
                            <td>option b</td>
                            <td>option c</td>
                            <td>option d</td>
                            <td>answer</td>
                            <td>category</td>
                            <th>edit</th>
                            <th>delete</th>
                        </tr>
                        <% for(let i=0;i<data1.length;i++){ %>
                            <td><%=(i+1)%></td>
                            <td><%=data1[i].question_text%></td>
                            <td><%=data1[i].option_a%></td>
                            <td><%=data1[i].option_b%></td>
                            <td><%=data1[i].option_c%></td>
                            <td><%=data1[i].option_d%></td>
                            <td><%=data1[i].answer%></td>
                            <td><%=data1[i].category_id%></td>
                            <td>
                                <a href="/edit">edit</a>
                            </td>
                            <td>
                                <a href="/delete?">delete</a>
                            </td>
                        <tr>
                            <% }%>
        
                            
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    let category_select = document.getElementById('category_select');
   console.log(category_select);

   categortFetch();
   function categortFetch(){
       fetch('/categories').then(res=>res.json()).then(data=>{
           console.log("data",data)
           console.log(data.arr.length);
           console.log(data.arr2.length);
         
           for(let i=0;i<data.arr.length ;i++){
               console.log(data.arr[i])
               console.log(data.arr2[i])
               category_select.innerHTML += ` <option value="${data.arr2[i]}">${data.arr[i]}</option>`;

           }
          
       }).catch(err=>console.log(err));
   }

   valueloaded();
   async function valueloaded(){
       
   }
</script>
</html>