<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>online exam system</title>
    

</head>



<link rel="stylesheet" type="text/css"  href="/css/question.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'> 


<body>

    <!-- for header part -->
    <%- include('header'); -%>


        <div class="main-container">
            <!--nav bar add-->

            <%- include('nav'); -%>
                <div class="main">



                    <div class="content-main">
                        <div class="content-heading">Question list</div>

                        <div class="button-card">
                            <div class="exam-button-row">
                                <h3>Exam list</h3>
                            </div>
                            <div class="exam-button-row">
                                <a href="/addquestion">add que</a>
                                </div>
                        </div>
                        <div><input type="text" placeholder="search"></div>
                        <div>

                            <table class="question-table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Category</th>
                                        <th>Question</th>
                                        <th>Option A</th>
                                        <th>Option B</th>
                                        <th>Option c</th>
                                        <th>Option D</th>
                                        <th>Answer</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <%= console.log(data,"question table data in ejs log") %>; 
                                    <% let id=1; %>
                                    <% for(var i=0 ; i<data.length ; i++) { %>
                                    <tr>
                                        <td><%= id++ %></td>
                                        <td> ad </td>
                                        <td><%=data[i].question_text%></td>
                                        <td><%=data[i].option_a%></td>
                                        <td><%=data[i].option_b%></td>
                                        <td><%=data[i].option_c%></td>
                                        <td><%=data[i].option_d%></td>
                                        <td class="answercolor"><%=data[i].answer%></td>
                                        <td>
                                            <a href="editquestion?question_id=<%= data[i].question_id %>" class="edit-btn">Edit</a>
                                            <a href="/exam/status?status=<%=data[i].exam_status%>&id=<%=data[i].exam_id%>" onclick="deletquestion(`<%= data[i].question_id %>`)" class="delete-btn">Delete</a>
                                        </td>
                                    </tr>
            <% } %>
            
                                </tbody>
                            </table>


                        </div>




                    </div>
                </div>
        </div>
</body>

<script src="/js/dashboard.js"></script>

<script src="/js/question.js"></script>

</html>