<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Category</title>
    <link rel="stylesheet" href="/css/result.css">

</head>

<body>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>No</td>
                <td>student name</td>
                <td>Detail</td>
            </tr>
        </thead>
        <tbody id="tbody">
            <%for(var i=0;i<data.length;i++){%>
                <tr>
                    <td>
                        <%=i+1%>
                    </td>
                    <td>
                        <%=data[i].name%>
                    </td>
                    <td><a href="/companylist?id=<%= data[i].user_id %>" id="<%= data[i].user_id %>">View</a></td>
                </tr>
                <%}%>
        </tbody>
        

       
    </table>

                <div id="page">
                    <p onclick="page(`1`,`<%=count%>`,`<%=data[0].exam_id%>`)">prev</p>
                    <%for(i=1 ;i<=count ;i++){%>
                        <% if(i==1){ %>
                        <p onclick="page(`<%=i%>`,`<%=count%>`,`<%=data[0].exam_id%>`)">
                            <b><%=i%></b>
                        </p>
                        <% }else{ %>
                        <p onclick="page(`<%=i%>`,`<%=count%>`,`<%=data[0].exam_id%>`)">
                            <%=i%>
                        </p>

                    <% } %>
                    <% } %>
                    <p onclick="page(`<%=count%>`,`<%=count%>`,`<%=data[0].exam_id%>`)">next</p>
                </div>

</body>
<script src="/js/result.js"></script>
<script src="/js/dashboard.js"></script>

</html>