<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
</head>
<link rel="stylesheet" href="/css/dashboard.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
<link rel="stylesheet" href="/css/viewquestion.css">

<body>

    <!-- for header part -->
    <%- include('header'); -%>


        <div class="main-container">
            <!--nav bar add-->

            <%- include('nav'); -%>
                <div class="main">

                    <div class="content-main">


                        <div class="form-container">

                            <label class="questionno" for="questiondetail">Question No : <%= data[0].question_id %>
                                    </label>
                            <br>
                            <br>
                            <div><label for="question"><strong>Question:</strong>
                                    <%= data[0].question_text %>
                                </label></div>

                            <p><strong>Category : </strong>
                                <%= data[0].category_name %>
                            </p>


                            <p> <strong>Option A :</strong>
                                <%= data[0].option_a %>
                            </p>

                            <p><strong>Option B :</strong>
                                <%= data[0].option_b %>
                            </p>

                            <p><strong>Option C :</strong>
                                <%= data[0].option_c %>
                            </p>

                            <p><strong>Option D :</strong>
                                <%= data[0].option_d %>
                            </p>

                            <p style="color: darkgreen;"> <strong>Answer :</strong>
                                <%= data[0].answer %>
                            </p>

                         <p class="quesans" ><strong>Description :</strong></p>
                         <div>
                         <a href="editquestion?question_id=<%= data[0].question_id %>"
                            class="edit-btn">Edit</a>
                            <a href="/question" class="edit-btn"> Cancle </a> 
                        </div>
                        </div>

                    </div>
                </div>
</body>
<!-- <script src="/js/addquestion.js"></script> -->

</html>