
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/category.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link  rel="icon"  type="image/webp"  href="../public/assets/image/browser head.webp">
</head>
<body>
    <%- include('header'); -%>
    <div class="main-container">
        <%- include('nav'); -%>
        <div id="overlay"><span class="loader"></span></div>
        <div class="main">

            <div class="add-link">
                
                <div class="category-search">
                    <input type="text" name="search" id="search" placeholder="Search" onkeyup="search(this.value)">
                    <!-- <div class="searchbtn">
                        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210180758/Untitled-design-(28).png" class="icn srchicn" alt="search-button">
                    </div> -->
                </div>
                <a class="add" onclick="addCategory()">ADD</a>
            </div>
            <table id="myTable">
                <% let id = 1; %>
                <tr>
                    <th>ID</th>
                    <th>Category Name</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <% data.forEach(c => { %>
                    <tr>
                        <td><%= id++ %></td>
                        <td><%= c.category_name %></td>
                        <td><%= (new Date(c.created_date).toLocaleDateString()) %></td>
                        <td><a class="btnn" id="status" onclick="check(`<%= c.category_id %>`,`<%= c.category_status %>`);"><%= c.category_status %></a></td>
                        <td><a class="edit-btn fas fa-edit" onclick="editCategory(`<%= c.category_id %>`)"> EDIT</a></td>
                    </tr>
                <% }); %>
                <tr id="no-data"></tr>
            </table>
            <div class="dialogue">
                <form action="/editcategory" method="post">
                    <p>Category Name</p>
                    <input class="text" id="id" type="hidden" name="category_id" value="">
                    <input class="text" id="text" type="text" name="category_name" value="" required><br>
                    <input type="submit" class="yes input" value="Update">
                    <botton class="no input">Cancel</botton>
                </form>
            </div>
            <div class="dialogues">
                <form action="/addcategory" method="post">
                    <p>Enter Category Name</p>
                    <input class="text" id="text" type="text" name="category_name" required><br>
                    <input type="submit" class="yes input" value="Add">
                    <botton class="no input">Cancel</botton>
                </form>
            </div>
            <div class="page">
                <nav aria-label="Page navigation example">
                    <ul class="pagination" id="pagination"> 
                        <li class="page-item"><a class="page-link" id="0" onclick='page(this)'><<</a></li>
                        <li class="page-item"><a class="page-link" id="<%= page-1 %>" onclick='page(this)'><</a></li>
                        <% if(parseInt(page) <=5) { %>
                            <% for(let i=1;i<=parseInt(page);i++){ %>
                                <li class="page-item"><a class="page-link <% if(parseInt(page)==i){ %>pageactive <% } %>" onclick="page(this)" id="<%= i %>"><%= i %></a></li>
                        <% } } else { %>
                            <% for(let i=(parseInt(page)-5);i<=parseInt(page);i++){ %>
                                <li class="page-item"><a class="page-link <% if(parseInt(page)==i){ %>pageactive <% } %>" onclick="page(this)" id="<%= i %>"><%= i %></a></li>
                            <% } %>
                        <% } %>
                        <% if(Math.ceil(parseInt(total)/parseInt(limit))-5>= parseInt(page)){ %>
                            <% for(let i=parseInt(page)+1;i<=parseInt(page)+ 5;i++){ %>
                                <li class="page-item"><a class="page-link <% if(parseInt(page)==i){ %>pageactive <% } %>" onclick="page(this)" id="<%= i %>"><%= i %></a></li>
                            <% } %>
                        <% } else { %>
                            <% for(let i=parseInt(page)+1;i<=Math.ceil(parseInt(total)/parseInt(limit));i++){ %>
                                <li class="page-item"><a class="page-link <% if(parseInt(page)==i){ %>pageactive <% } %>" onclick="page(this)" id="<%= i %>"><%= i %></a></li>
                            <% } %>
                        <% } %>
                        <li class="page-item"><a class="page-link" onclick="page(this)" id="<% if(page < Math.ceil(page/limit)) %>
                        <% { page+1 } %>%>">></a></li>
                        <li class="page-item"><a class="page-link" onclick="page(this)" id="<%= Math.ceil(total/limit) %>">>></a></li>
                    </ul>
                </nav>
            </div>
        </div>
</body>
<script src="/js/dashboard.js"></script>
<script src="/js/category.js"></script>
</html>