<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User</title>
</head>
<link rel="stylesheet" href="/css/dashboard.css">
<link rel="stylesheet" href="/css/edit.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
<link rel="icon" type="image/webp" href="../public/assets/image/browser head.webp">

<body>
  <%- include('header'); -%>


    <div class="main-container">
      <!--nav bar add-->

      <%- include('nav'); -%>
        <div class="main">

          <div class="content-main">


            <div class="form-container">
              <h2>Update Student Information</h2>

              <form action="/update" method="post" class="editform" name="Form" onsubmit="return validateForm()">
                <input type="hidden" name="student_id" id="student_id" readonly value="<%=student2[0].student_id%>">

                <label for="name">Name :</label>
                <td><input type="text" oninput="validateForm()" id="name" name="name" value="<%=student2[0].name%>"
                    required>
                  <p id="pname"></p>


                  <label for="contact">Contact :</label>
                  <input type="text" oninput="validateForm()" id="contact" name="contact"
                    value="<%=student2[0].contact%>" required>
                  <p id="pcontact"></p>


                  <div class="gender">
                    <% if(student2[0].gender=='Male' ){%>
                      <label for="gender">Gender:</label>
                      <input type="radio" id="male" name="gender" value="Male" checked />
                      <label for="male">Male</label>
                      <input type="radio" id="female" name="gender" value="Female" />
                      <label for="female">Female</label>
                      <input type="radio" id="other" name="gender" value="Other" />
                      <label for="female">Other</label>
                      <%} else if(student2[0].gender=='Female' ){%>
                        <label for="gender">Gender:</label>
                        <input type="radio" id="male" name="gender" value="Male" />
                        <label for="male">Male</label>
                        <input type="radio" id="female" name="gender" value="Female" checked />
                        <label for="female">Female</label>
                        <input type="radio" id="other" name="gender" value="Other" />
                        <label for="female">Other</label>
                        <%} else { %>
                          <label for="gender">Gender:</label>
                          <input type="radio" id="male" name="gender" value="Male" />
                          <label for="male">Male</label>
                          <input type="radio" id="female" name="gender" value="Female" />
                          <label for="female">Female</label>
                          <input type="radio" id="other" name="gender" value="Other" checked />
                          <label for="female">Other</label>
                          <% } %><br>
                  </div>


                  <label for="address">Address :</label>
                  <input type="text" oninput="validateForm()" id="address" name="address"
                    value="<%=student2[0].address%>" required>
                  <p id="paddress"></p>

                  <label for="college">college :</label>
                  <select name="col" id="col">
                  </select>
                  <label for="state">state :</label>
                  <select name="state" id="state">

                    <%for(i=0 ;i<state.length ;i++){%>
                      <%if(state[i].state_id==student2[0].state_id){%>

                        <option value="<%=state[i].state_id%>" selected>
                          <%=state[i].state_name%>
                        </option>
                        <%}else{%>
                          <option value="<%=state[i].state_id%>">
                            <%=state[i].state_name%>
                          </option>

                          <%}}%>
                  </select>
                  <label for="state">city :</label>
                  <select name="city" id="city">
                  </select>
                  <div class="btns">
                    <input type="submit" value="Submit" class="submit_btn">
                    <button class="cancelbutton">
                      <a href="/user">cancel</a>
                    </button>
                  </div>

              </form>

            </div>
          </div>
        </div>

    </div>
</body>

<script src="/js/user.js"></script>
<script src="/js/dashboard.js"></script>
<script src="/js/edit.js"></script>

</html>