<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User</title>
</head>
<link rel="stylesheet" href="/css/dashboard.css">
<link rel="stylesheet" href="/css/edit.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
<link  rel="icon"  type="image/webp"  href="../public/assets/image/browser head.webp">



<body>



  <%- include('header'); -%>

    <div class="main-container">
      <%- include('nav'); -%>
<div class="form">
  <table>


  </table>
  <form action="/update" method="post" class="editform" onsubmit="return validation()">
    <div class="inputtag">
      <input type="hidden" name="student_id" id="student_id" readonly value="<%=student2[0].student_id%>" >
    </div>
<tr>
  <div class="inputtag">
    <td><label for="name">Name:</label></td>
    <td><input type="text" id="name" name="name" value=" <%=student2[0].name%>"></td><br><br>
    <p id=" nameeror"></p>
  </div>
</tr>
  
<tr>
  <div class="inputtag">
    <td><label for="email">Email:</label></td>
    <td><input type="email" id="email" name="email" value=" <%=student2[0].email%>"></td><br><br>
    <p id="emaileror"></p>
  </div>
</tr>
   

   <tr>
    <div class="inputtag">
      <td><label for="contact">Contact:</label></td>
      <td><input type="text" id="contact" name="contact" value=" <%=student2[0].contact%>"></td><br><br>
      <p id="contacteror"></p>
    </div>
   </tr>

    
<tr>
  <div class="inputtag">
    <% if(student2[0].gender=='male' ){%>
      <label for="gender">Gender:</label>
      <input type="radio" id="male" name="gender" value="male" checked />
      <label for="male">Male</label>
      <input type="radio" id="female" name="gender" value="female" />
      <label for="female">Female</label>
      <%}%>
        <% if(student2[0].gender=='female' ){%>
          <label for="gender">Gender:</label>
          <input type="radio" id="male" name="gender" value="male" />
          <label for="male">Male</label>
          <input type="radio" id="female" name="gender" value="female" checked />
          <label for="female">Female</label>
          <%}%><br>
  </div>
</tr>
   
<tr>
  <div class="inputtag">
    <td><label for="address">Address:</label></td>
    <td><input type="text" id="address" name="address" value=" <%=student2[0].address%>"></td><br><br>
  </div>
</tr>
 
<tr>
  <div class="inputtag">
    <td><label for="college">college:</label></td>
    <td><select name="col" id="col">
    </select></td>
  </div>
</tr>
    
    <div class="inputtag">
      <label for="state">state :</label>
      <select name="state" id="state" >

        <%for(i=0 ;i<state.length ;i++){%>
          <%if(state[i].state_id==student2[0].state_id){%>

            <option value="<%=state[i].state_id%>" selected>
              <%=state[i].state_name%>
            </option>
            <%}else{%>
              <option value="<%=state[i].state_id%>">
                <%=state[i].state_name%>
              </option>

              <%}}%>
      </select>
    </div>


    <div class="inputtag">
      <label for="state">city :</label>
      <select name="city" id="city">
      </select>
    </div>

    <div class="lastinputtag">
      <input type="submit" value="Submit">
      <a class="cancelbutton" href="/user">cancel</a>
    </div>
  </form>


</div>

</body>

<script src="/js/user.js"></script>
<script src="/js/dashboard.js"></script>
<script src="/js/edit.js"></script>
</html>