<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link rel="stylesheet" href="/css/result.css">
    <link rel="icon" type="image/webp" href="../public/assets/image/browser head.webp">
</head>

<body>
    <%- include('header'); -%>
    <div class="main-container">
        <%- include('nav'); -%>
        <div class="main">
            <div class="search">
                <h1 id="result">student name</h1>
                <div class="div-search">
                    <input type="text" name="search" id="search" placeholder="Search" onkeyup="searchstudent(this.value)">
                </div>
            </div>
            <div class="ans">
                <p id="answer"></p>
                <p id="obtained_answer"></p>
            </div>
            <table id="MyTable">
                <tr>
                    <th>No</th>
                    <th>student name</th>
                    <th>Action</th>
                </tr>
                <%for(var i=0;i<data.length;i++){%>
                    <tr>
                        <td>
                            <%=i+1%>
                        </td>
                        <td>
                            <%=data[i].name%>
                        </td>
                        <td><a onclick="companylist(this.id)" id="<%= data[i].user_id %>">View</a></td>
                    </tr>
                    <%}%>
            </table>
            <div class="link">
                <a id="back"></a>
            </div>
        </div>
    </div>

</body>
<script src="/js/result.js"></script>
<script src="/js/dashboard.js"></script>

</html>